[mysqld]
log_output=file
slow_query_log=ON
long_query_time=0
log_slow_admin_statements=ON
log_slow_slave_statements=ON
innodb_monitor_enable=all

#innodb_thread_sleep_delay = 0
#innodb_flush_log_at_trx_commit = 0
#innodb_buffer_pool_size = 8G
#innodb_flush_method = O_DSYNC
#innodb_log_file_size = 1G
#innodb_log_buffer_size = 2M
#innodb_thread_concurrency = 0
#innodb_max_dirty_pages_pct_lwm 0
#innodb_read_ahead_threshold 56
#innodb_adaptive_max_sleep_delay 150000
#innodb_buffer_pool_instances 8
#innodb_io_capacity = 200
max_connections = 64
thread_cache_size = 16
query_cache_size = 32M
query_cache_limit = 1M
max_allowed_packet = 128M
